@model EmployeePerformanceApp.Models.LoginModel
@{
    ViewData["Title"] = "Login";

}

<link rel="stylesheet" type="text/css" href="~/css/Login.css" />
<body>
    <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form">
            <h2>Sign in</h2>
            <div class="input-form">
                <input type="text" asp-for="Login" placeholder="Login" />
                <span asp-validation-for="Login" />
            </div>
            <div class="input-form">
                <input asp-for="Password" placeholder="Password" />
                <span asp-validation-for="Password" />
            </div>
            <div class="input-form">
                <input type="submit" value="Sign in" />
            </div>
            <a href="#" class="forget">Forgot your password?</a>
        </div>
    </form>
</body>
